/* heroSection.css */
.heroSection {
  /* background: linear-gradient(90deg, #ff6f61 0%, #ff9a44 100%); */
  /* background-color: #29324b; */
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100vh;
  color: #FF007F;
}

/* Dark theme specific background image */
.dark .heroSection {
  background-image: url('../../public/images/hero-img.webp');
  font-family: 'Audiowide';
}

/* Light theme specific background image */
.light .heroSection {
  background-image: url('../../public/images/retro-hero-img.png');
    font-family: 'VT323';
}

.header {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  -webkit-background-clip: text; /* Safari */
  background-clip: text;
 

}

.subheader {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-bottom: 30px;

}

.ctaButton {
  background-color: #B31942;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #ff6f61;
}
