/* heroSection.css */
.heroSection {
  color: #025a4e;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

/* Dark theme specific background image */
.dark .heroSection {
  /* background-image: url('../../public/images/modern.png'); */
  font-family: 'Signika', serif;
  background-size: 100%;
}

/* Light theme specific background image */
.light .heroSection {
  /* background-image: url('../../public/images/retro-hero-img.png'); */
  font-family: 'Signika', serif;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.subheader {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-bottom: 30px;
}

.ctaButton {
  background-color: #b31942;
  color: #fff;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ctaButton:hover {
  background-color: #ff6f61;
}

.brk-btn {
  position: relative;
  background: none;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
}
.brk-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
  right: 80%;
}
.brk-btn:hover::after {
  left: 80%;
}

.text {
  color: #025a4e;
  text-decoration: none;
  font-family: 'Signika', serif;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
  font-size: max(5vw, 32px);;
  
}

.text:hover {
  animation: rubberBand 0.9s;
  color: rgb(118, 170, 117);
  opacity: 1;
  cursor: pointer;
}

.hero-p {
  margin-top: 100px;
  width: 40%;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    transform: scale3d(0.75, 1, 1);
  }
  60% {
    transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
