/* In your CSS file */
.dark {
  /* Dark theme styles */
  background-color: transparent;
  color: #025A4e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.light {
  /* Light theme styles */
   background-color: transparent;
  color: #025A4e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
