/* In your CSS file */
.dark {
  /* Dark theme styles */
  background-color: #141414;
  color: #ff6da1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.light {
  /* Light theme styles */
  background-color: #141414;
  color: #ff6da1;
  font-family: 'VT323';
}
