.skills-container {
  padding: 20px;
  color: white;
  min-height: 100vh;
}

.dark .skills-container {
  font-family: 'Audiowide';
}

/* Light theme specific background image */
.light .skills-container {
    font-family: 'VT323';
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Increased min width */
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.tech {
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1rem; /* Start with a reasonable font size */
  min-width: 150px; /* Adjust based on your content */
  white-space: nowrap; /* Keep text in one line */
}

.tech span {
  margin-left: 8px;
}

/* Adjust font size at different breakpoints */
@media (max-width: 1024px) {
  .tech {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .tech {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .tech {
    font-size: 1rem;
  }
}
