/* ourWork.css */
.ourWork {
  padding: 80px 0;
  text-align: center;
  min-height: 100vh; /* Use minimum height instead of fixed height */
  display: grid;
  font-family: 'Signika', serif;
}

/*  */

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

p {
 font-size: 24px;
 /* color:#04c4ca */
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-gap: 80px; /* Space between cards */
  margin-top: 20px;
}

.card-sat {
  background-color: #bddff9;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 110%;
}


.card-2 {
  background-color: #d094e5;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 10%;
  width: 70%;
}
.card-3 {
  background-color: #e8b79c;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
 margin-left: 10%;
  margin-right: 20%;
  width: 70%;
}
.card-4 {
  background-color: #a3dbd4;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-left: -20%;
  margin-right: -10%;
  width: 110%;
}

.card-sat, .card-2, .card-3, .card-4 {
  position: relative; /* This ensures that absolute positioning is relative to the card */
  overflow: hidden; /* This will clip any overflowing content */
  height: 500px;
  cursor: pointer;
  /* ... other styles ... */
}

.card-sat img, .card-2 img, .card-3 img, .card-4 img {
  position: absolute;
  right: -10%; /* Align the image to the right */
  top: 75%;
  transform: translateY(-50%); /* This will vertically center the image */
  width: auto; /* You can adjust this if you want to scale the image */
  height: 100%; /* Adjust the height to fit the card */
}


.card-header-company {
  font-size: 20px;
  text-align: end;
  width: 100%;
  color: #364442;
}

.card-header-project {
  font-size: 36px;
  font-weight: bold;
  text-align: end;
  width: 100%;
  margin-bottom: 40px;
  color: #364442;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .cardsGrid {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }

  .card-sat, .card-2, .card-3, .card-4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}


.ant-card-body {
  background-color: #04c4ca !important;
  border: none !important;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-card-bordered {
  border: none !important;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-container {
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  align-items: center; /* Center cards horizontally */
  justify-content: center; /* Center cards vertically */
  margin: auto; /* Auto margins for horizontal centering */
  max-width: 600px; /* Max width for responsiveness */
  padding: 20px; /* Padding around the container */
  /* border: 4px solid #04c4ca; */
  border-radius: 10px;
}


/* Adjust card styles as needed */
.card {
  flex: 0 0 calc(20% - 20px); /* 20% width with some margin */
  margin-bottom: 20px; /* Add margin between cards */
}
